body {
	font-family: Arial, sans-serif;
	background: linear-gradient(to right, #1b5692, #583a6d);
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.container {
	max-width: 900px;
	padding: 20px;
}

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 25px;
}

.card {
	background: white;
	padding: 20px;
	border-radius: 12px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	min-height: 320px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.card:hover {
	transform: translateY(-5px);
}
h1 {
	font-size: 2.5rem;
	color: #fff;
	margin-bottom: 20px;
	text-align: center;
}

h3 {
	font-size: 1.7rem; /* Made headings bigger */
	margin-bottom: 15px;
	color: #333;
}

label {
	display: block;
	margin-top: 2px;
	font-weight: bold;
}

input,
select {
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 6px;
}

#specialCourse {
	margin-bottom: 20px; /* Added more space below the dropdown */
}

button {
	width: 100%;
	padding: 12px;
	margin-top: auto;
	border: none;
	color: white;
	font-size: 1rem;
	border-radius: 6px;
	cursor: pointer;
}

#submitSubject {
	background: #0bc759;
}

#deleteSubject {
	background: #ff1900;
}

.add-subject {
	border-top: 5px solid #2ecc71;
}

.delete-subject {
	border-top: 5px solid #e74c3c;
}

button:hover {
	opacity: 0.8;
}
