body {
	background: #6b6f60; /* Matching Teacher's Page */
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Poppins", sans-serif;
	margin: 0;
}

/* Main Container */
.main-container {
	background: white;
	width: 400px;
	padding: 40px;
	border-radius: 12px;
	box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
	text-align: center;
}

h1 {
	color: #333;
	font-size: 1.8rem;
	margin-bottom: 1.5rem;
}
label {
	font-size: 1rem;
	font-weight: bold;
	color: #444;
	display: block;
	text-align: left;
	margin-top: 10px;
}

/* Styled Subject List */
select {
	width: 100%;
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #ccc;
	font-size: 1rem;
	margin-top: 5px;
}
.btn {
	background: #c67656;
	color: white;
	padding: 12px 20px;
	font-size: 1rem;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;
	margin-top: 15px;
	transition: 0.3s;
	font-weight: bold;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.btn:hover {
	background: #a85a44;
	transform: translateY(-2px);
}

.btn i {
	font-size: 1.2rem;
}
